<a href="https://colab.research.google.com/github/Komal123-cloud-cmyk/openai-whisper-speech-transcription/blob/main/Task2_Data_cleaning_n_preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

# Load Titanic dataset directly (no upload needed)
url = "https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv"
df = pd.read_csv(url)

df.head()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [2]:
# Fill Age with mean
df['Age'].fillna(df['Age'].mean(), inplace=True)

# Drop Cabin (too many missing values)
df.drop(columns=['Cabin'], inplace=True)

# Fill Embarked with mode
df['Embarked'].fillna(df['Embarked'].mode()[0], inplace=True)

/tmp/ipython-input-2705645296.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(df['Age'].mean(), inplace=True)
/tmp/ipython-input-2705645296.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Embarked'].fillna(df['Embarked'].mode()[0], inplace=True)

In [3]:
Q1 = df['Fare'].quantile(0.25)
Q3 = df['Fare'].quantile(0.75)
IQR = Q3 - Q1

lower = Q1 - 1.5*IQR
upper = Q3 + 1.5*IQR

# Keep only non-outliers
df = df[(df['Fare'] >= lower) & (df['Fare'] <= upper)]

In [4]:
from sklearn.preprocessing import LabelEncoder

# Label Encode Sex
le = LabelEncoder()
df['Sex'] = le.fit_transform(df['Sex'])  # male=1, female=0

# One-Hot Encode Embarked
df = pd.get_dummies(df, columns=['Embarked'])

In [5]:
df.to_csv("Task2_Cleaned_Titanic.csv", index=False)

In [6]:
# Check again for missing values
print(df.isnull().sum())

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked_C     0
Embarked_Q     0
Embarked_S     0
dtype: int64

In [7]:
print("Max Fare after removing outliers:", df['Fare'].max())
print("Rows remaining:", len(df))

Max Fare after removing outliers: 65.0
Rows remaining: 775

In [8]:
print(df.head())
print(df.dtypes)

   PassengerId  Survived  Pclass  \
0            1         0       3
2            3         1       3
3            4         1       1
4            5         0       3
5            6         0       3

                                           Name  Sex        Age  SibSp  Parch  \
0                       Braund, Mr. Owen Harris    1  22.000000      1      0
2                        Heikkinen, Miss. Laina    0  26.000000      0      0
3  Futrelle, Mrs. Jacques Heath (Lily May Peel)    0  35.000000      1      0
4                      Allen, Mr. William Henry    1  35.000000      0      0
5                              Moran, Mr. James    1  29.699118      0      0

             Ticket     Fare  Embarked_C  Embarked_Q  Embarked_S
0         A/5 21171   7.2500       False       False        True
2  STON/O2. 3101282   7.9250       False       False        True
3            113803  53.1000       False       False        True
4            373450   8.0500       False       False        True
5            330877   8.4583       False        True       False
PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex              int64
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Embarked_C        bool
Embarked_Q        bool
Embarked_S        bool
dtype: object

In [9]:
print(df[['Age','Fare']].head())
print("Mean of Age:", df['Age'].mean())
print("Std of Age:", df['Age'].std())

         Age     Fare
0  22.000000   7.2500
2  26.000000   7.9250
3  35.000000  53.1000
4  35.000000   8.0500
5  29.699118   8.4583
Mean of Age: 29.103880075901323
Std of Age: 12.779988041967709

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 775 entries, 0 to 890
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  775 non-null    int64
 1   Survived     775 non-null    int64
 2   Pclass       775 non-null    int64
 3   Name         775 non-null    object
 4   Sex          775 non-null    int64
 5   Age          775 non-null    float64
 6   SibSp        775 non-null    int64
 7   Parch        775 non-null    int64
 8   Ticket       775 non-null    object
 9   Fare         775 non-null    float64
 10  Embarked_C   775 non-null    bool
 11  Embarked_Q   775 non-null    bool
 12  Embarked_S   775 non-null    bool
dtypes: bool(3), float64(2), int64(6), object(2)
memory usage: 68.9+ KB